<section>
  <header [class.grow]="expandSearch">
    <div class="row">
    <h1>Enter Podcast URL</h1>
    <form (submit)="addFeed(urlInput.value)" >
      <input size="40" (focus)="grow()" (blur)="shring()" type="text" #urlInput (keyup.enter)="addFeed(urlInput.value)">
      <button (click)="addFeed(urlInput.value)">Add</button>
    </form>
    </div>
    <h2>It is advisable to copy and paste this URL</h2>
    </header>
  <main>
    <ul>
      <li *ngFor="let feed of feeds">
        <h1>{{feed.title}}</h1>
        <button>Read Description</button>
        <button (click)="navigateToFeed(feed)">Listen Now</button>
      </li>
    </ul>    
  </main>
</section>